.caption {
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: .0625rem;
  color: #ababab;
  text-transform: uppercase; }

h1, h2, h3, h4, h5, h6 {
  font-family: ACaslonPro-Semibold; }

h1 {
  font-size: 5rem;
  letter-spacing: .0625rem;
  line-height: .0625rem; }

h2 {
  font-size: 3rem;
  letter-spacing: .03125rem; }

h3 {
  font-size: 2.5rem;
  letter-spacing: .03125rem; }

h4 {
  font-size: 2.25rem;
  letter-spacing: .03125rem; }

h5 {
  font-size: 2rem;
  letter-spacing: .03125rem; }

h6 {
  font-size: 1.75rem;
  letter-spacing: .03125rem; }

p {
  font-family: ACaslonPro-Regular;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0.25px;
  line-height: 2.25rem; }
  p .section-title {
    line-height: 0; }
  p a {
    transition: .2s all;
    text-decoration: none;
    color: #0045CF;
    border-bottom: 2px solid; }
    p a:hover {
      color: #000000;
      background: #FFFCDA; }
    p a:visited {
      color: #6A6A6A; }

.wrap {
  width: 70%;
  max-width: 1140px;
  margin: auto; }

.article-heading {
  position: relative;
  margin: 4rem 0;
  background: url("https://unsplash.it/1500/?random") rgba(0, 0, 0, 0.5);
  background-size: cover;
  padding: 10%;
  color: white; }

.sub-head {
  font-weight: 400;
  font-style: italic;
  font-size: 32px; }

.drop-cap {
  font-family: Inconsolata-Regular;
  font-size: 104px;
  color: #000000;
  padding: 2rem 3rem;
  line-height: 5rem;
  float: left; }

strong {
  font-family: ACaslonPro-Bold; }

blockquote {
  font-family: ACaslonPro-Regular;
  font-size: 36px;
  color: #000000;
  line-height: 50px;
  padding-left: 2rem;
  margin: 3.5rem 0;
  position: relative; }
  blockquote span {
    width: 2px;
    background: black;
    height: 50%;
    position: absolute;
    left: 0;
    top: 25%; }

button {
  transition: .2s all;
  border: 2px solid black;
  background: #000;
  padding: 1rem 2rem; }
  button:hover {
    padding-left: 5rem;
    padding-right: 1rem; }
  button:focus {
    outline: none; }
  button a {
    text-decoration: none;
    transition: .2s all;
    font-family: Inconsolata-Bold;
    font-size: 16px;
    color: #FFFFFF; }
